#*
 * (C) Copyright 2011-2015 FastConnect SAS
 * (http://www.fastconnect.fr/) and others.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
#set($h5 = '#####')


$h1 Configuration

The configuration of the ${factoryNameHighlight} is divided in two parts as
any other Maven plugin:

* environment-dependent settings, which will basically be stored in the
[Maven 'settings.xml' file](https://maven.apache.org/settings.html).
These settings are specific for each environment where the ${factoryName} is
installed.

* project-dependent settings, which will be stored in the 
[POM](https://maven.apache.org/pom.html) of the projects.
These settings define how to build the projects.

For these both kinds, settings can be:
 
* profile-specific, meaning that only settings in active profiles will be used
during builds.

---

$h2 Default configuration snippets

Here are some ready-to-use configuration for the ${factoryNameHighlight}:

* [settings.xml](./settings-xml.html), a default
[Maven settings.xml](https://maven.apache.org/settings.html) file
* [FastConnect profile](./fc-profile.html), a profile to add in Maven
'settings.xml' file to reach
[FastConnect' repositories](https://fastconnect.org/maven/index.html)

---

$h3 Environment-dependent settings
All plugins of the ${factoryNameHighlight} can share a common Maven
<i>'settings.xml'</i> file.

---

$h3 Project-dependent settings (root POM)

For standard Maven projects, there is a
[super POM](http://maven.apache.org/ref/3.1.1/maven-model-builder/super-pom.html)
which defines default properties.

In ${factoryNameHighlight} there is a need for a custom super POM with custom
properties called the <b>root POM</b>. The latter can either be created by
inheritance from the ${factoryNameHighlight} super POM or defined in extension
with all required properties by using a Maven archetype.

---

$h4 By inheritance

* The default properties are defined in the ${factoryNameHighlight} super POM
* This <b>root POM</b> doesn't have to be created (adding inheritance is enough)
* The projects must inherit directly or indirectly from this <b>root POM</b>
* All projects inherit from default behaviour of the
${factoryNameHighlight} super POM

$h4 By archetype

* The default properties are defined in an independent <b>root POM</b>
* This <b>root POM</b> is created with a Maven archetype
* The projects must inherit directly or indirectly from this <b>root POM</b>
* All projects inherit only from the behaviour defined in this independent
<b>root POM</b>

---

$h5 &nbsp;

Inheritance can be done by adding this snippet to any POM (making it the 
<b>root POM</b>):

```xml
<parent>
	<groupId>${project.groupId}</groupId>
	<artifactId>${project.artifactId}</artifactId>
	<version>${project.version}</version>
</parent>
```

${notaBene} the inheritance can be used with any
[Maven packaging](https://maven.apache.org/pom.html#Maven_Coordinates)
(including <i>pom</i>, <i>bw-ear</i>, <i>projlib</i>...) so it can be used to
quickly set up a stand-alone project while the archetype method is
more suited to bigger projects where custom behaviour is to be defined.

$h5 &nbsp;

The independent <b>root POM</b> is created by a Maven archetype with the
following command:

```bash
mvn archetype:generate -DarchetypeGroupId=fr.fastconnect.factory.tibco \
                       -DarchetypeArtifactId=archetype-default-project \
                       -DarchetypeVersion=${project.version} \
                       -DgroupId=com.company.project \
                       -DartifactId=project-root \
                       -Dversion=1.0.0 \
                       -DprojectName=ProjectName \
                       -DbwMavenPluginVersion=${bwMavenPluginVersion}
                       [-DinteractiveMode=false] 
```