#*
 * (C) Copyright 2011-2015 FastConnect SAS
 * (http://www.fastconnect.fr/) and others.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
# Introduction

The ${factoryNameHighlight} is a
<u>software factory</u> and must not be thought as a framework.

It will only give tools to <i>develop</i>, <i>build</i>, <i>package</i>,
<i>deploy</i>, <i>manage</i> and <i>monitor</i> TIBCO applications and
environments, but no actual implementation of functional or technical
services (such as ones found in frameworks: logging feature, generic error
handling and so on).

However, the ${factoryNameHighlight} will
dramatically improve the development of such a framework!

The ${factoryNameHighlight} is plugin-based and below is a description of
[each plugin](./default-versions.html). Before using a plugin, it is advised to
start with ${factoryNameHighlight} common [installation](./installation.html)
& [configuration](./configuration.html) instructions.

---

# BWMaven

BWMaven is a Maven plugin enabling a Java-like lifecycle in TIBCO BusinessWorks
projects. It includes dependency management, EAR & Projlib compilation,
advanced configuration management, delivery package generation and much more.
<div>[Learn more »](./bw-maven-plugin/index.html)</div>

# FCCodeReview

This Maven plugin will run automatic Code Review on TIBCO BusinessWorks
projects. It generates XML/HTML reports of rules passed or failed by the
projects and has an open architecture to implement custom rules.
<div>[Learn more »](./code-review-plugin/index.html)</div>

---

# FCUnit

FCUnit is a Maven plugin enabling a JUnit-like unit tests in TIBCO BusinessWorks
projects.
<div>[Learn more »](./fcunit-plugin/index.html)</div>
