#*
 * (C) Copyright 2011-2015 FastConnect SAS
 * (http://www.fastconnect.fr/) and others.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

$h1 Installation

---

$h1 Reminders about Maven
All plugins of the ${factoryNameHighlight} are provided as standard Maven
plugins. It means that the installation procedure consists of having a Maven
repository with the plugins deployed.

There are two ways to install FastConnect plugins:

* either connect directly to the
[FastConnect's repositories](https://fastconnect.org/maven/index.html)
* or to deploy from sources to a private repository

$h1 Commercial contact

To purchase the ${factoryNameHighlight},
please contact:

<pre>sales@fastconnect.fr</pre>

It is the standard way to get credentials to the FastConnect repositories or
to get access to the plugins' sources to deploy them on private repositories.

---

$h1 FastConnect repositories

The simplest way to install a plugin of the ${factoryNameHighlight} is to
reach the FastConnect repositories by adding the [FastConnect profile](fc-profile.html) to
the [Maven <i>settings.xml</i> file](maven-settings.html) of the target
environment.

To test the installation, this command can be launched and should result in a
Maven "BUILD SUCCESS":

```
mvn dependency:copy \
    -DoutputDirectory=. \
    -Dartifact=${project.groupId}:${project.artifactId}:${project.version}:pom
``` 

$h1 Private repositories

If it's not possible to use
[FastConnect's repositories](https://fastconnect.org/maven/index.html), private
repositories can be used to deploy plugins.
[Sonatype Nexus OSS](http://books.sonatype.com/nexus-book/reference/index.html)
is a good standard and open-source software which can be used. It is not
discussed here how to install and configure such a tool.

However, it is considered that the private repositories have the same structure
of [FastConnect's repositories](https://fastconnect.org/maven/index.html)
defined in the [FastConnect profile](fc-profile.html).

The command to deploy a plugin, once its source code is retrieved, is:

```
mvn clean deploy site-deploy 
```

This command must be launched in the same folder as the <i>pom.xml</i> file of 
the plugin to deploy (${factoryNameHighlight} must be installed first) and
should result in a Maven "BUILD SUCCESS".
